body {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

header, main, footer {
    background-color: black;
    margin: 16px;
    padding: 18px;
}

#sup {
    background-color: #27394E;
    display: flex;
    padding: 18px;
    margin-bottom: 18px;
}

.sup1, #sup2 {
    height: 18px;
    background-color: #EA584B;
}

.sup1 {
    width: 15%;
}

#sup2 {
    width: 70%;
    margin-left: 18px;
    margin-right: 18px;
}

#inf  {
    padding: 18px;
    background-color: #F0763A; 
}

#inf1 {
    height: 18px;
    background-color: #FFCC5E;  
}

main {
    display: flex;
}

article {
    width: 70%;
    padding: 18px;
    background-color: #44465E; 
} 

#container {
    display: flex;
}

section {
    width: 50%;
    height: 18px;
    background-color: #1664A4;  
}

#right {
    margin: 0 18px 18px 0;
}

#article-footer {
    height: 18px;
    background-color:#6399BB;
}

aside {
    width: 30%;
    margin-left: 18px;
    padding-top: 18px;
    background-color: #F94C47;
}

#aside1, #aside2 {
    height: 18px;
    margin: 0 18px 0 18px;
    background-color: #FFE380;
}

#aside2 {
    margin-top: 10px;
}

#footer1 {
    height: 18px;
    background-color:#E4A434;    
}

@media only screen and (max-width: 600px) {

    main {
        display: flex;
        flex-direction: column;
        background-color: #FFF734;
    }

    article {
        width: auto;
        margin-bottom: 18px;
    } 

    aside {
        width: auto;
        margin-left: 0;
        padding-bottom: 18px;
    }
}
